
<section class="cardsProducts">
  {{#each products}}
    <div class="cardProduct">
        <h3 class="cardProduct-title">{{this.title}}</h3>
        <p class="cardProduct-description">{{this.description}}</p>
        <small class="cardProduct-category">Categoria: {{this.category}}</small>
        <span class="cardProduct-priceAndStock">Precio: ${{this.price}} Stock: {{this.stock}}</span>
        <button>Agregar al carrito</button>
    </div>
  {{/each}}
</section>



